/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


html {
}

body {
	background-color: #555;
}

#page {
	padding: 0 10px;
}

#header {
  background-color: #555;
	text-shadow: #222 0 0 10px;
}

#main {
	background-color: #FFF;
	box-shadow: #222 0 0 10px;
}

#footer {
  background-color: #555;
	text-shadow: #222 0 0 10px;
}

#navigation {
  /*background-color: #555;*/
}
